html,
body {
    height: 100%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 0;
}

#banner {
    padding: 15em 0em;
    background-image: url("img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    overflow: hidden;
}


h1 {
    font-size: 2em;
}

#cotxe {
    position: relative;
    overflow: hidden;

    bottom: 10%;

    /* Ajusta aquest valor per a que el cotxe estigui a sobre de la carretera */
    left: 100%;
    width: auto;

    /* Ajusta aquest valor per a que el cotxe s'integri de manera realista al fons */
    animation: drive 4s linear infinite;
}

@keyframes drive {
    0% {
        left: -50%;
    }

    50% {
        left: 75%;
    }

    100% {
        left: -100%;
    }
}